[project]
name = "lazyagent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "ruff",
    "ty",
    "pytest",
]

[tool.ruff]
target-version = "py312"
line-length = 100
